.wrapper {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 80%;
}

.backToPortfolio {
  color: #fff;
  font-size: 1.4em;
  &:hover {
    transition: all 0.3s linear;
  }

}

.details__wrapper {
  margin-top: 20px;
  position: relative;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  color: black;
  font-size: 1.5rem;

  .title {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .project__wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .slider__wrapper {
      height: 500px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      overflow: hidden;
    }

    .details__info {
      margin-top: 30px;
      text-align: left;

      .details__title {
        font-size: 1.3rem;
        font-weight: 900;
        margin-top: 20px;
        &:first-child {
          margin-top: 0 !important;
        }

        a {
          padding: 3px;
          color: black;
          background-color: yellow;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .details__wrapper {
    padding: 20px;
    font-size: 1.2rem;

    .project__wrapper {
      .slider__wrapper {
        height: 350px;
      }
      .details__info {
        .details__title {
          font-size: 1.1rem;
        }}
    }
  }
}

@media (max-width: 600px) {
  .details__wrapper {
    font-size: 1rem;
    .title {
      font-size: 1.2rem;
    }
    .project__wrapper {
      .slider__wrapper {
        height: 260px;
      }

    }
  }
}

@media (max-width: 480px) {
  .details__wrapper {
    padding: 8px;

    .title {
      font-size: 1rem;
    }

    .project__wrapper {
      .slider__wrapper {
        height: 220px;
      }
      .details__info {
        .details__title {
          font-size: 1rem;
        }}
    }

  }
}


