.wrapper {
  position: relative;
}

.backToPortfolio {
  text-align: left;
  color: #fff;
  font-size: 1.4em;

  &:hover {
    transition: all 0.3s linear;
    &:after {
      content: 'Back to Portfolio';
      position: absolute;
      color: #37e4bcc2;
      z-index: 100;
      padding: 2px;
      width: 150px;
      font-size: 0.8em;
      text-align: center;
      background: #52515180;
      left: 20px;
    }
  }

}

.title {
  font-size: 2em;
  text-transform: uppercase;
}