.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        font-size: 3em;
    }
    a {
        margin-top: 20px;
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .wrapper {
        .title {
            font-size: 2.5em;
        }
    }
}

@media (max-width: 480px) {
    .wrapper {
        .title {
            font-size: 2em;
        }
    }
}