$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-linkedin: "\e903";
$icon-git: "\e904";
$icon-envelope: "\e901";
$icon-envelope1: "\e902";
$icon-monitor: "\e908";
$icon-arrow-down: "\e906";
$icon-arrow-up: "\e907";
$icon-home: "\e905";
$icon-book: "\e91f";
$icon-file-text2: "\e926";
$icon-phone: "\e942";
$icon-embed2: "\ea80";
$icon-address-book: "\e944";
$icon-search: "\e986";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down2: "\ea3e";
$icon-arrow-left2: "\ea40";
$icon-user-secret: "\e900";

