.header {
  min-height: 100vh;
  width: 30%;
  color: #49b3f1;
  background: #002798;
  text-align: center;
  z-index: 10;
  .content {
    img {
      margin: 70px auto 40px auto;
      width: 150px;
      height: 150px;
      border-radius: 49%;
      border: 2px solid #fff;
    }
    .title {
      span {
        font-style: italic;
        color: #fff;
      }
    }
  }
  .socials {
    margin-top: 20px;
    a {
      font-size: 1.4em;
    }
    a + a {
      margin-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.2em;
  }
  .header {
    width: 30%;
    .content {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
}
