.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
}
.content__wrapper {
  padding: 50px;
  width: 100%;
  //background-color: #001725;
  color: #fff;
  text-align: center;
}

.message__wrapper {
  margin-top: 10px;
}


// styling scrollbar
html {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.7em;
  }

  &::-webkit-scrollbar-track {

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #001725;
  }

  &::-webkit-scrollbar-thumb {
    height: 120px;
    background-color: #1eaef387;
    border: none;
    border-radius: 7px;
  }
}
// styling scrollbar
@media (max-width: 480px) {
  .content__wrapper {
    padding: 10px;
  }
}
