nav {
  display: flex;
  padding: 220px 10px;
  background-color: #0077bddb;
  z-index: 20;
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: #fff;
      font-size: 1.2em;
      transition: all 0.4s linear;

      &:hover {
        color: #08f6ef;
      }
      .item {
        position: absolute;
        left: 50px;
        transform: scale(0);
      }
      .icon {
        opacity: 1;
      }
      &:hover .item {
        animation: scale 0.4s normal forwards ease-in-out;
        opacity: 1;
      }
    }

    a + a {
      margin-top: 30px;
    }
  }
}


@keyframes scale {
  10% {
    transform: scale(0)
  }
  20% {
    transform: scale(0.2)
  }
  40% {
    transform: scale(0.4)
  }
  60% {
    transform: scale(0.6)
  }
  80% {
    transform: scale(0.8)
  }
  100% {
    transform: scale(1)
  }
}


@media (max-width: 768px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
    z-index: 1000;
    .list {
      width: 100%;
      a {
        text-align: center;
        width: 100%;
        padding: 10px 0;

        &:hover {
          color: #08f6ef;
          background-color: #9ac5c44d;
        }
        .item {
          opacity: 1;
          position: relative;
          left: 0;
          right: 0;
        }
        .icon {
          display: none;
        }
      }

      a + a {
        margin-top: 0;
      }
    }
  }
}